.mt-header-navbar-space {
    margin: 10px;
}

.mt-header-font{
    font-family: 'Lato', sans-serif;
}

body#HEADER #mt-header-navbar {
    background:transparent;
    background-image:none;
    position:absolute;
    width:100%;
    left:0px;
    right:0px;
    top:0px;
}

