.Slider{
    font-family: 'Roboto', sans-serif;
}

.mt-slider {
    margin: auto;
    object-fit: cover;
}

.mt-slider img {
    display:block;
    width:100%;  
  }

.mt-crop {
    margin:-11% 0;
}

.mt-slider::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000000 100%);
  margin-top: -150px;
  height: 130px;
  width: 100%;
  content: '';
}

.mt-slider h1 {
    color: #ffc107;
}
.mt-text-muted {
    color: #d8d3c5;
    font-size: 35px;
}

.mt-text-poster {
    letter-spacing: 5px;
    text-transform: uppercase;
}
